<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="drone_ros2_control" params="name">
    
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>

            <!-- Front Right Propeller -->
            <joint name="base_front_right_propeller_joint">
                <command_interface name="effort">
                    <param name="min">-1000</param>
                    <param name="max">1000</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Front Left Propeller -->
            <joint name="base_front_left_propeller_joint">
                <command_interface name="effort">
                    <param name="min">-1000</param>
                    <param name="max">1000</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Back Right Propeller -->
            <joint name="base_back_right_propeller_joint">
                <command_interface name="effort">
                    <param name="min">-1000</param>
                    <param name="max">1000</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Back Left Propeller -->
            <joint name="base_back_left_propeller_joint">
                <command_interface name="effort">
                    <param name="min">-1000</param>
                    <param name="max">1000</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- IMU Sensor -->
            <sensor name="imu_sensor">
                <state_interface name="orientation.x"/>
                <state_interface name="orientation.y"/>
                <state_interface name="orientation.z"/>
                <state_interface name="orientation.w"/>
                <state_interface name="angular_velocity.x"/>
                <state_interface name="angular_velocity.y"/>
                <state_interface name="angular_velocity.z"/>
                <state_interface name="linear_acceleration.x"/>
                <state_interface name="linear_acceleration.y"/>
                <state_interface name="linear_acceleration.z"/>
            </sensor>
        </ros2_control>

    </xacro:macro>

</robot>