<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="drone">

    <!-- Gazebo Control Plugin -->
    <gazebo>
        <plugin filename="gz-sim-multicopter-control-system" name="ignition::gazebo::systems::MulticopterVelocityControl">
            <robotNamespace>sim_drone</robotNamespace>
            <commandSubTopic>cmd_vel</commandSubTopic>
            <enableSubTopic>enable</enableSubTopic>
            <comLinkName>base_link</comLinkName>
            <velocityGain>6 6 10</velocityGain>
            <attitudeGain>4 4 2</attitudeGain>
            <angularRateGain>0.7 0.7 0.7</angularRateGain>
            <maximumLinearAcceleration>1 1 2</maximumLinearAcceleration>
            <maximumLinearVelocity>5 5 5</maximumLinearVelocity>
            <maximumAngularVelocity>3 3 3</maximumAngularVelocity>
            <linearVelocityNoiseMean>0 0 0</linearVelocityNoiseMean>
            <linearVelocityNoiseStdDev>0.1105 0.1261 0.0947</linearVelocityNoiseStdDev>
            <angularVelocityNoiseMean>0 0 0</angularVelocityNoiseMean>
            <angularVelocityNoiseStdDev>0.004 0.004 0.004</angularVelocityNoiseStdDev>

            <rotorConfiguration>
                <rotor>
                    <jointName>base_front_right_propeller_joint</jointName>
                    <forceConstant>1.269e-05</forceConstant>
                    <momentConstant>1.6754e-2</momentConstant>
                    <direction>1</direction>
                </rotor>
                <rotor>
                    <jointName>base_front_left_propeller_joint</jointName>
                    <forceConstant>1.269e-05</forceConstant>
                    <momentConstant>1.6754e-2</momentConstant>
                    <direction>-1</direction>
                </rotor>
                <rotor>
                    <jointName>base_back_right_propeller_joint</jointName>
                    <forceConstant>1.269e-05</forceConstant>
                    <momentConstant>1.6754e-2</momentConstant>
                    <direction>1</direction>
                </rotor>
                <rotor>
                    <jointName>base_back_left_propeller_joint</jointName>
                    <forceConstant>1.269e-05</forceConstant>
                    <momentConstant>1.6754e-2</momentConstant>
                    <direction>-1</direction>
                </rotor>
            </rotorConfiguration>
        </plugin>
    </gazebo>

    
    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>/imu/data</topic>
        <plugin filename="ignition-gazebo-imu-system"
                    name="ignition::gazebo::systems::Imu">
            <bodyName>imu_link</bodyName>
            <updateRateHZ>100.0</updateRateHZ>
            <gaussianNoise>0.01</gaussianNoise>
            <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
            <frameName>imu_link</frameName>
            <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- Gazebo Colors -->
    <gazebo reference="base_link"><material>Gazebo/White</material></gazebo>
    <gazebo reference="front_right_propeller_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="front_left_propeller_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="back_right_propeller_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="back_left_propeller_link"><material>Gazebo/Black</material></gazebo>

</robot>