<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="drone">

    <!-- Gazebo Control Plugin -->
    <gazebo>
        <plugin filename="gz-sim-multicopter-control-system" name="gz::sim::systems::MulticopterVelocityControl">
            <robotNamespace>sim_drone</robotNamespace>
            <commandSubTopic>cmd_vel</commandSubTopic>
            <enableSubTopic>enable</enableSubTopic>
            <comLinkName>base_link</comLinkName>
            <velocityGain>6 6 10</velocityGain>
            <attitudeGain>4 4 2</attitudeGain>
            <angularRateGain>0.7 0.7 0.7</angularRateGain>
            <maximumLinearAcceleration>1 1 2</maximumLinearAcceleration>
            <maximumLinearVelocity>5 5 5</maximumLinearVelocity>
            <maximumAngularVelocity>3 3 3</maximumAngularVelocity>
            <linearVelocityNoiseMean>0 0 0</linearVelocityNoiseMean>
            <linearVelocityNoiseStdDev>0.1105 0.1261 0.0947</linearVelocityNoiseStdDev>
            <angularVelocityNoiseMean>0 0 0</angularVelocityNoiseMean>
            <angularVelocityNoiseStdDev>0.004 0.004 0.004</angularVelocityNoiseStdDev>

            <rotorConfiguration>
                <rotor>
                    <jointName>base_front_right_propeller_joint</jointName>
                    <forceConstant>1.269e-05</forceConstant>
                    <momentConstant>1.6754e-2</momentConstant>
                    <direction>1</direction>
                </rotor>
                <rotor>
                    <jointName>base_front_left_propeller_joint</jointName>
                    <forceConstant>1.269e-05</forceConstant>
                    <momentConstant>1.6754e-2</momentConstant>
                    <direction>-1</direction>
                </rotor>
                <rotor>
                    <jointName>base_back_right_propeller_joint</jointName>
                    <forceConstant>1.269e-05</forceConstant>
                    <momentConstant>1.6754e-2</momentConstant>
                    <direction>1</direction>
                </rotor>
                <rotor>
                    <jointName>base_back_left_propeller_joint</jointName>
                    <forceConstant>1.269e-05</forceConstant>
                    <momentConstant>1.6754e-2</momentConstant>
                    <direction>-1</direction>
                </rotor>
            </rotorConfiguration>
        </plugin>
    </gazebo>


  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <ignition_frame_id>imu_link</ignition_frame_id>
      <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
      </plugin>

      <topic>imu</topic>
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>



    <!-- Gazebo Colors -->
    <gazebo reference="base_link"><material>Gazebo/White</material></gazebo>
    <gazebo reference="front_right_propeller_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="front_left_propeller_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="back_right_propeller_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="back_left_propeller_link"><material>Gazebo/Black</material></gazebo>

</robot>