<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="drone">

    <!-- Gazebo Control Plugin -->

    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find robot_controller)/config/robot_controllers.yaml</parameters>
            <!-- <controlPeriod>0.01</controlPeriod>
            <robot_param_node>robot_state_publisher</robot_param_node> -->
        </plugin>
    </gazebo>


    
    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>/imu/data</topic>
        <plugin filename="ignition-gazebo-imu-system"
                    name="ignition::gazebo::systems::Imu">
            <bodyName>imu_link</bodyName>
            <updateRateHZ>100.0</updateRateHZ>
            <gaussianNoise>0.01</gaussianNoise>
            <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
            <frameName>imu_link</frameName>
            <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- Gazebo Colors -->
    <gazebo reference="base_link"><material>Gazebo/White</material></gazebo>
    <gazebo reference="front_right_propeller_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="front_left_propeller_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="back_right_propeller_link"><material>Gazebo/Black</material></gazebo>
    <gazebo reference="back_left_propeller_link"><material>Gazebo/Black</material></gazebo>


    <plugin name="motor_model" filename="gz-sim-multicopter-motor-model-system">
  <motor>
    <name>rotor_0</name>
    <joint_name>rotor_0_joint</joint_name>
    <link_name>rotor_0</link_name>
    <turning_direction>ccw</turning_direction>
    <rotor_velocity_constant>8.54858e-6</rotor_velocity_constant> <!-- thrust constant -->
    <moment_constant>1.6e-2</moment_constant> <!-- drag torque -->
    <motor_number>0</motor_number>
  </motor>
  <motor>
    <name>rotor_1</name>
    <joint_name>rotor_1_joint</joint_name>
    <link_name>rotor_1</link_name>
    <turning_direction>cw</turning_direction>
    <rotor_velocity_constant>8.54858e-6</rotor_velocity_constant>
    <moment_constant>1.6e-2</moment_constant>
    <motor_number>1</motor_number>
  </motor>
  <!-- Add motors 2, 3... -->
</plugin>

</robot>