<?xml version="1.0"?>
<robot name="swing_drone" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include the main URDF -->
  <xacro:include filename="$(find swing_drone)/urdf/urdf_asem_swing_drone.urdf" />

  <!-- Gazebo materials and physics properties -->
  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
  </gazebo>

  <!-- Arm materials -->
  <gazebo reference="fr_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="br_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="bl_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="fl_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Propeller materials -->
  <gazebo reference="A_prop_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="B_prop_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="C_prop_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="D_prop_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="E_prop_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="F_prop_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="G_prop_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="H_prop_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <!-- IMU Sensor -->
  <gazebo reference="base_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
      <plugin filename="libignition-gazebo-imu-system.so" name="ignition::gazebo::systems::Imu">
        <ros>
          <namespace>/swing_drone</namespace>
          <remapping>~/out:=imu_data</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <!-- Joint State Publisher Plugin -->
  <gazebo>
    <plugin filename="libignition-gazebo-joint-state-publisher-system.so" name="ignition::gazebo::systems::JointStatePublisher">
      <ros>
        <namespace>/swing_drone</namespace>
        <remapping>~/out:=joint_states</remapping>
      </ros>
    </plugin>
  </gazebo>

  <!-- Multicopter Motor Plugin for each propeller -->
  <gazebo reference="A_prop_link">
    <plugin filename="libignition-gazebo-multicopter-motor-model-system.so" name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>swing_drone</robotNamespace>
      <jointName>A_prop_joint</jointName>
      <linkName>A_prop_link</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>/swing_drone/command/motor_speed</commandSubTopic>
      <motorNumber>0</motorNumber>
      <rotorDragCoefficient>2.0673e-04</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/swing_drone/motor_speed/0</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
    </plugin>
  </gazebo>

  <gazebo reference="B_prop_link">
    <plugin filename="libignition-gazebo-multicopter-motor-model-system.so" name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>swing_drone</robotNamespace>
      <jointName>B_prop_joint</jointName>
      <linkName>B_prop_link</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>/swing_drone/command/motor_speed</commandSubTopic>
      <motorNumber>1</motorNumber>
      <rotorDragCoefficient>2.0673e-04</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/swing_drone/motor_speed/1</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
    </plugin>
  </gazebo>

  <gazebo reference="C_prop_link">
    <plugin filename="libignition-gazebo-multicopter-motor-model-system.so" name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>swing_drone</robotNamespace>
      <jointName>C_prop_joint</jointName>
      <linkName>C_prop_link</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>/swing_drone/command/motor_speed</commandSubTopic>
      <motorNumber>2</motorNumber>
      <rotorDragCoefficient>2.0673e-04</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/swing_drone/motor_speed/2</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
    </plugin>
  </gazebo>

  <gazebo reference="D_prop_link">
    <plugin filename="libignition-gazebo-multicopter-motor-model-system.so" name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>swing_drone</robotNamespace>
      <jointName>D_prop_joint</jointName>
      <linkName>D_prop_link</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>/swing_drone/command/motor_speed</commandSubTopic>
      <motorNumber>3</motorNumber>
      <rotorDragCoefficient>2.0673e-04</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/swing_drone/motor_speed/3</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
    </plugin>
  </gazebo>

  <gazebo reference="E_prop_link">
    <plugin filename="libignition-gazebo-multicopter-motor-model-system.so" name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>swing_drone</robotNamespace>
      <jointName>E_prop_joint</jointName>
      <linkName>E_prop_link</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>/swing_drone/command/motor_speed</commandSubTopic>
      <motorNumber>4</motorNumber>
      <rotorDragCoefficient>2.0673e-04</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/swing_drone/motor_speed/4</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
    </plugin>
  </gazebo>

  <gazebo reference="F_prop_link">
    <plugin filename="libignition-gazebo-multicopter-motor-model-system.so" name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>swing_drone</robotNamespace>
      <jointName>F_prop_joint</jointName>
      <linkName>F_prop_link</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>/swing_drone/command/motor_speed</commandSubTopic>
      <motorNumber>5</motorNumber>
      <rotorDragCoefficient>2.0673e-04</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/swing_drone/motor_speed/5</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
    </plugin>
  </gazebo>

  <gazebo reference="G_prop_link">
    <plugin filename="libignition-gazebo-multicopter-motor-model-system.so" name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>swing_drone</robotNamespace>
      <jointName>G_prop_joint</jointName>
      <linkName>G_prop_link</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>/swing_drone/command/motor_speed</commandSubTopic>
      <motorNumber>6</motorNumber>
      <rotorDragCoefficient>2.0673e-04</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/swing_drone/motor_speed/6</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
    </plugin>
  </gazebo>

  <gazebo reference="H_prop_link">
    <plugin filename="libignition-gazebo-multicopter-motor-model-system.so" name="ignition::gazebo::systems::MulticopterMotorModel">
      <robotNamespace>swing_drone</robotNamespace>
      <jointName>H_prop_joint</jointName>
      <linkName>H_prop_link</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>2500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>/swing_drone/command/motor_speed</commandSubTopic>
      <motorNumber>7</motorNumber>
      <rotorDragCoefficient>2.0673e-04</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/swing_drone/motor_speed/7</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
    </plugin>
  </gazebo>

</robot> 