<?xml version="1.0"?>
<!-- Gazebo-specific configurations for swing_drone -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Removed the ign_ros2_control plugin to avoid conflict with PX4 MAVLink control -->
  
    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
              <robot_param_node>robot_state_publisher</robot_param_node>
              <parameters>$(find swing_drone)/config/drone_controller.yaml</parameters>
        </plugin>
    </gazebo>
  

    <!-- Lift and Drag plugins for each propeller -->
    <gazebo>
        <plugin filename="libignition-gazebo-lift-drag-system.so" name="ignition::gazebo::systems::LiftDrag">
            <link_name>A_prop_link</link_name>
            <air_density>1.2041</air_density>
            <center_pressure>0 0 0</center_pressure>
            <direction>0 0 1</direction>
            <upward>0 1 0</upward>
            <area>0.0083</area>
            <coefficient>1.3</coefficient>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="libignition-gazebo-lift-drag-system.so" name="ignition::gazebo::systems::LiftDrag">
            <link_name>B_prop_link</link_name>
            <air_density>1.2041</air_density>
            <center_pressure>0 0 0</center_pressure>
            <direction>0 0 1</direction>
            <upward>0 1 0</upward>
            <area>0.0083</area>
            <coefficient>1.3</coefficient>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="libignition-gazebo-lift-drag-system.so" name="ignition::gazebo::systems::LiftDrag">
            <link_name>C_prop_link</link_name>
            <air_density>1.2041</air_density>
            <center_pressure>0 0 0</center_pressure>
            <direction>0 0 1</direction>
            <upward>0 1 0</upward>
            <area>0.0083</area>
            <coefficient>1.3</coefficient>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="libignition-gazebo-lift-drag-system.so" name="ignition::gazebo::systems::LiftDrag">
            <link_name>D_prop_link</link_name>
            <air_density>1.2041</air_density>
            <center_pressure>0 0 0</center_pressure>
            <direction>0 0 1</direction>
            <upward>0 1 0</upward>
            <area>0.0083</area>
            <coefficient>1.3</coefficient>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="libignition-gazebo-lift-drag-system.so" name="ignition::gazebo::systems::LiftDrag">
            <link_name>E_prop_link</link_name>
            <air_density>1.2041</air_density>
            <center_pressure>0 0 0</center_pressure>
            <direction>0 0 1</direction>
            <upward>0 1 0</upward>
            <area>0.0083</area>
            <coefficient>1.3</coefficient>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="libignition-gazebo-lift-drag-system.so" name="ignition::gazebo::systems::LiftDrag">
            <link_name>F_prop_link</link_name>
            <air_density>1.2041</air_density>
            <center_pressure>0 0 0</center_pressure>
            <direction>0 0 1</direction>
            <upward>0 1 0</upward>
            <area>0.0083</area>
            <coefficient>1.3</coefficient>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="libignition-gazebo-lift-drag-system.so" name="ignition::gazebo::systems::LiftDrag">
            <link_name>G_prop_link</link_name>
            <air_density>1.2041</air_density>
            <center_pressure>0 0 0</center_pressure>
            <direction>0 0 1</direction>
            <upward>0 1 0</upward>
            <area>0.0083</area>
            <coefficient>1.3</coefficient>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="libignition-gazebo-lift-drag-system.so" name="ignition::gazebo::systems::LiftDrag">
            <link_name>H_prop_link</link_name>
            <air_density>1.2041</air_density>
            <center_pressure>0 0 0</center_pressure>
            <direction>0 0 1</direction>
            <upward>0 1 0</upward>
            <area>0.0083</area>
            <coefficient>1.3</coefficient>
        </plugin>
    </gazebo>

    <gazebo reference="base_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <self_collide>1</self_collide>
        <kp value="10.0" />
        <kd value="1.0" />
        <dampingFactor>0.001</dampingFactor>
    </gazebo>

    <gazebo reference="fr_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <self_collide>1</self_collide>
        <kp value="10.0" />
        <kd value="1.0" />
        <dampingFactor>0.001</dampingFactor>
    </gazebo>

    <gazebo reference="fl_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <self_collide>1</self_collide>
        <kp value="10.0" />
        <kd value="1.0" />
        <dampingFactor>0.001</dampingFactor>
    </gazebo>

    <gazebo reference="br_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <self_collide>1</self_collide>
        <kp value="10.0" />
        <kd value="1.0" />
        <dampingFactor>0.001</dampingFactor>
    </gazebo>

    <gazebo reference="bl_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <self_collide>1</self_collide>
        <kp value="10.0" />
        <kd value="1.0" />
        <dampingFactor>0.001</dampingFactor>
    </gazebo>


    <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <ignition_frame_id>imu_link</ignition_frame_id>
      <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
      </plugin>

      <topic>imu</topic>
      <always_on>true</always_on>
      <update_rate>400</update_rate>
      <visualize>true</visualize>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

</robot>