<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="swing_drone_control" params="name">

        <ros2_control name="swing_drone_control" type="system">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>

            <joint name="A_prop_joint">
                <command_interface name="effort"></command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="B_prop_joint">
                <command_interface name="effort"></command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="C_prop_joint">
                <command_interface name="effort"></command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="D_prop_joint">
                <command_interface name="effort"></command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="E_prop_joint">
                <command_interface name="effort"></command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="F_prop_joint">
                <command_interface name="effort"></command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="G_prop_joint">
                <command_interface name="effort"></command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="H_prop_joint">
                <command_interface name="effort"></command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>

        <gazebo>
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <robot_param_node>robot_state_publisher</robot_param_node>
                <parameters>$(find swing_drone)/config/drone_controller.yaml</parameters>
            </plugin>
        </gazebo>

    </xacro:macro>

</robot>